services:
  litellm:
    build:
      context: .
      dockerfile: docker/Dockerfile.litellm
    image: gcr.io/${GCLOUD_PROJECT_ID}/dxtr-litellm:latest
    container_name: dxtr-litellm
    ports:
      - "4000:4000"
    environment:
      - OPENROUTER_API_KEY=${OPENROUTER_API_KEY}
      - LITELLM_MASTER_KEY=${LITELLM_MASTER_KEY}
      # - DATABASE_URL=${DATABASE_URL}  # NOTE: This is intentionally commented out, I dont' think I want to use litellm for observability

  core:
    build:
      context: .
      dockerfile: docker/Dockerfile.dxtr
    image: gcr.io/${GCLOUD_PROJECT_ID}/dxtr-core:latest
    container_name: dxtr-core
    ports:
      - "8000:8000"
    environment:
      - LITELLM_BASE_URL=http://litellm:4000
      - LITELLM_API_KEY=${LITELLM_API_KEY}
      - BLOB_STORE_URI=${BLOB_STORE_URI}
      - DXTR_PROD=false
    depends_on:
      - litellm
